*.swp
*.log
*.log.*
*.log-*
.DS_Store
recorded/*
mirakurun/conf/channels.yml
mirakurun/conf/channels.yml.old
mirakurun/db/programs.json
mirakurun/db/services.json
epgstation/thumbnail/*.jpg
epgstation/data/streamfiles/*.ts
epgstation/data/streamfiles/*.m3u8
epgstation/config/*.json
!epgstation/config/config.json
!epgstation/config/operatorLogConfig.json
!epgstation/config/serviceLogConfig.json
epgstation/data/*.json
!.gitkeep
